.hello-world {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    /* Adjust size if needed */
}

.typewriter {
    font-family: 'Typewriter', sans-serif;

}


.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #60efff 0%, #00ff87 100% );
    transform: translate3d(19px, 20px, 0) scale(0.98);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        