/* .skills{
    background: url('https://t3.ftcdn.net/jpg/03/50/02/12/360_F_350021263_w1KatF6CeZuT2XcM6iMAPsg63lOoQacC.jpg');
    background-repeat: no-repeat;
    background-size: con;
} */

.chip{
    font-family: 'Times New Roman', Times, serif;
}